<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <h1><img src="/media/images/mixi.jpg" alt="Logo"> Mixue</h1>
            <button class="sidebar-close" id="sidebarClose">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="sidebar-menu">
            <a href="/home_manager/" class="menu-item ">
                <i class="fas fa-th-large"></i>
                <span>Dashboard</span>
            </a>
            <a href="/getProduct/" class="menu-item">
                <i class="fas fa-box"></i>
                <span>Sản phẩm</span>
            </a>
            <a href="/getuser" class="menu-item">
                <i class="fas fa-users"></i>
                <span>Quản lý nhân viên</span>
            </a>
            <a href="/warehouse_management" class="menu-item ">
                <i class="fas fa-warehouse"></i>
                <span>Kho hàng</span>
            </a>
            <a href="/quanlynhaphang" class="menu-item">
                <i class="fas fa-shopping-cart"></i>
                <span>Nhập hàng</span>
            </a>
            <a href="/quanlyxuathang/" class="menu-item">
                <i class="fas fa-users"></i>
                <span>Xuất hàng</span>
            </a>
            <a href="/quanlykhachhang" class="menu-item">
                <i class="fas fa-users"></i>
                <span>Khách hàng</span>
            </a>

            <a href="/thongbao" class="menu-item">
                <i class="fas fa-chart-bar"></i>
                <span>Thông báo</span>
            </a>
            <a href="/" class="menu-item logout-item" id="logoutBtn">
        <i class="fas fa-sign-out-alt"></i>
        <span>Đăng xuất</span>
    </a>
        </div>
    </div>
</body>

</html>